<section class="bg-grey-4 pv4">
  <div class="ph1 mw7 center">

    {{ partial "section-title" (dict "heading" "Hottest takes") }}

    <div class="flex justify-center items-center w-100 mb3 ba bw1 b--primary">
      <div class="flex flex-wrap justify-center w-100 ph3 mhn1-ns ma1 ba bw1 b--primary">
        {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
        <article class="flex pa2-ns w-100">
          {{ .Render "li" }}
        </article>
        <object class="w-80" type="image/svg+xml" data="/img/components/divider_deco.svg"></object>
        {{ end }}
        <div class="w-100 pv2 tc">
          <a href="/post" class="btn raise">All posts</a>
        </div>
      </div>
    </div>

  </div>
</section>