<footer class="ph3 pv3 bg-black white bt bw1 b--primary" style="background: url(img/components/pattern1.svg);">

  <div class="mw7 center">

    <div class="flex-ns justify-center">

      <div class="relative w-60-ns pa2 ba bw1 b--primary bg-black">
        <img class="w-100" src="/img/components/footer_frame.svg" alt="footer frame" />
        <div class="absolute top-0 ph4 h-100 w-100 flex flex-column justify-center items-center">
          <h3 class="artdeco f4 tc b lh-title mb2 primary">The Vortex social experience</h3>
          <ul class="flex justify-center mhn2">
            {{ partial "social-icon" (dict "link" "https://discord.gg/NGHRRWW" "svg" "icons-discord") }}
            {{ partial "social-icon" (dict "link" "https://www.reddit.com/r/IVoCT" "svg" "icons-reddit") }}
            {{ partial "social-icon" (dict "link" "https://www.facebook.com/groups/180849807377212/" "svg" "icons-facebook") }}
          </ul>
        </div>
      </div>

    </div>
  </div>

</footer>

{{ partial "svg" . }}