<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-grey-4 divider-grey relative">

	<!-- Logo -->
	<a href="/" class="di mr4 h-100 w3 flex items-center no-underline">
		<img src="/img/logodark.svg" alt="Vortex logo" class="br0 di mb0 mr2 off-white"/>
		<span class="avenir f3 off-white b">The Vortex</span>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b off-white">
		<li><a href="/news" class="pa3 no-underline db">News</a></li>

		<li><a href="/post" class="pa3 no-underline db">Reviews</a></li>

		<li><a href="/views" class="pa3 no-underline db">Ramblings</a></li>
		
		<li><a href="/vortexplorer" class="pa3 no-underline db">Vortexplorer™</a></li>

		<li><a href="/whomst" class="pa3 no-underline db">Whomst?</a></li>
	</ul>

</nav>
