<nav class="h4 pv3 bg-grey-4 divider-grey">

	<div class="flex h-100 justify-between mh3 no-underline">
		<!-- Logo -->
		<a class="flex justify-center w-20 mw4" href="/">
			<img src="/img/icons/logo.svg" alt="Vortex logo" class="w4 light--hidden"/>
			<img src="/img/icons/logo.svg" alt="Vortex logo" class="w4 dark--hidden"/>
		</a>

		<!-- Title -->
		<div class="flex flex-column items-center justify-center tc off-white">
			<span class="artdeco f3 b">INTERDIMENSIONAL VORTEX OF CONSPIRATORIAL TASTEMAKING</span>
			<span class="artdeco f4">Where good taste comes to die</span>
		</div>

		<!-- Light switch -->
		<div class="w-10 mw2 color-mode__header">
			<button class="ph2 color-mode__btn light--hidden off-white" style="background-color: transparent;">
			<svg width="16px" height="16px"><use xlink:href="#svg-sun"></use></svg>
			</button>
			<button class="ph2 color-mode__btn dark--hidden" style="background-color: transparent;">
			<svg width="16px" height="16px"><use xlink:href="#svg-moon"></use></svg>
			</button>
		</div>
	</div>

	<!-- Primary Nav -->
	<ul class="flex relative shift-50 mh7 justify-center ba br-pill b--grey-2 bw1 bg-grey-4 off-white b">
		<li><a href="/news" class="pa2 no-underline db">News</a></li>
		<li><a href="/post" class="pa2 no-underline db">Reviews</a></li>
		<li><a href="/views" class="pa2 no-underline db">Ramblings</a></li>
		<li><a href="/vortexplorer" class="pa2 no-underline db">Vortexplorer™</a></li>
		<li><a href="/whomst" class="pa2 no-underline db">Whomst?</a></li>
	</ul>

</nav>
