<nav class="h4 pv3 bg-black divider-primary">

  <div class="flex h-100 justify-center mh3 no-underline">

    <svg class="absolute primary w-100 h5 shift-2 o-10 z-0">
      <use xlink:href="#concentric"></use>
    </svg>

    <!-- Logo -->
    <a class="flex primary justify-center w-20 mw4 mr3 z-1" href="/">
      <svg><use xlink:href="#vortexlogo"></use></svg>
      <!-- <img src="/img/icons/logolight.svg" alt="Vortex logo" class="w4 light--hidden" />
      <img src="/img/icons/logodark.svg" alt="Vortex logo" class="w4 dark--hidden" /> -->
    </a>

    <!-- Title -->
    <div class="flex flex-column items-center justify-center tc z-1">
      <span class="artdeco primary f3-l f4-m f5 b">Interdimensional Vortex of Conspiratorial Tastemaking</span>
      <span class="artdeco off-white f4-l f5-m f6">« Where good taste comes to die »</span>
    </div>

    <!-- Light switch -->
    <div class="w-20 mw4 color-mode__header tr z-1">
      <a class="link dim br1 ph3 pv1 mb2 dib f6 off-white b" href="/admin">Login</a>
      <button class="ph2 color-mode__btn light--hidden off-white" style="background-color: transparent;">
        <svg width="16px" height="16px">
          <use xlink:href="#svg-sun"></use>
        </svg>
      </button>
      <button class="ph2 color-mode__btn dark--hidden off-white" style="background-color: transparent;">
        <svg width="16px" height="16px">
          <use xlink:href="#svg-moon"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- Primary Nav -->
  <div class="shift-1 flex justify-center f5-l f6 off-white b">
    <input type="checkbox" id="nav-trigger" class="dn nav-trigger" />
    <label class="db dn-ns ph4 ba br1 br-pill b--primary bw1 bg-grey-2" for="nav-trigger">
      <svg>
        <use xlink:href="#hamburger"></use>
      </svg>
    </label>
    <ul class="navbar dn flex-ns justify-center ph3 ba br1 br-pill-ns b--primary bw1 bg-grey-2">
      <li><a href="/" class="pa2 no-underline db">All</a></li>
      <li><a href="/post" class="pa2 no-underline db">Reviews</a></li>
      <li><a href="/views" class="pa2 no-underline db">Blurbs</a></li>
      <li><a href="/post" class="pa2 no-underline db">Community</a></li>
      <li><a href="/vortexplorer" class="pa2 no-underline db">Vortexplorer™</a></li>
      <li><a href="/links" class="pa2 no-underline db">Links</a></li>
      <li><a href="/about" class="pa2 no-underline db">About</a></li>
    </ul>
  </div>

</nav>