<div class="flex flex-wrap justify-center items-center pt4 pb2 bg-grey-2 black">
  <object class="w-20 mw4 h-mirror" type="image/svg+xml" data="/img/components/side_deco.svg"></object>
  <div class="w-20-l w-30-m w-40 mhn1-l mw5 tc">
    <h2 class="artdeco f2-ns f3 b lh-title">{{.heading}}</h2>
  </div>
  <div class="w-40-l mv0-l mv2 w-90 mw6 ph3 order-0-l order-1">
    <p class="mb0 f5-ns f6">{{.text}}</p>
  </div>
  <object class="w-20 mw4" type="image/svg+xml" data="/img/components/side_deco.svg"></object>
</div>