<div class="ph2">

  <!-- Title -->
  <h3 class="b f5 grey-4 tc lh-title mb3">{{.title}}</h3>

  <!-- Value -->
  <p class="primary f1 b tc lh-title center">
    <span class="f4">$</span>{{.value}}
  </p>

  <!-- Description -->
  <p class="b">{{.text}}</p>

  <!-- Features -->
  <ul>
    {{ $itemCount := len .items }}
    {{ range $index, $item := .items }}
    <li>
      <p class="{{ if ne (add 1 $index) $itemCount }}pb2 mb2 divider-grey{{ end }}">{{ $item }}</p>
    </li>
    {{ end }}
  </ul>

</div>