<div class="bg-black pv4">
  <div class="ph3 mw7 center">

    {{ partial "section-title" (dict "heading" .heading ) }}
    <p class="mb4 mw6">{{.text}}</p>

    <div class="flex-ns mhn2-ns mb3">
      {{ range .list }}
      <div class="ph2-ns w-50-ns">
        <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px">
        <p>{{.text}}</p>
      </div>
      {{ end }}
    </div>

    {{ if .buttonText }}
    <div class="tc">
      <a href="{{.butttonLink}}" class="btn raise">{{.buttonText}}</a>
    </div>
    {{ end }}

  </div>
</div>