.shift-1 { transform: translateY(-0.5rem); }
.shift-2 { transform: translateY(-40%); }
.artdeco { font-family: 'ParkLane'; }
.h-mirror { transform: scale(-1, 1); }
.v-mirror { transform: scale(1, -1); }


/* Mobile menu button and trigger */

nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
  position: static;
  height: 3em;
  width: 6em;
  cursor: auto;
}
.nav-trigger:checked ~ .navbar {
  position: absolute;
  top:4em;
  display: flex;
  flex-direction: column;
}

::selection {
  background-color: var(--highlight);
  color: var(--grey-4);
}

/* Used in the navbar */

.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-2);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}

.divider-primary {
  box-shadow: inset 0 -4px 0 var(--primary);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}