.shift-1 { transform: translateY(-0.5rem); }
.shift-2 { transform: translateY(-40%); }
.artdeco { font-family: 'ParkLane'; }
.h-mirror { transform: scale(-1, 1); }
.v-mirror { transform: scale(1, -1); }
