<div class="flex flex-column flex-row-ns justify-center items-center w-100">
  {{ if .Params.image }}
  <div class="pr1-ns pt0-ns pt3 w-100 w-30-ns">
    <img class="db center" src="{{ .Params.image }}" alt="{{ .Title }}" />
  </div>
  {{ end }}

  <div class="pa3 bg-grey-4 br1 ma2 w-70-ns flex-auto">
    <a href="{{ .RelPermalink }}" class="no-underline db raise">
      <h2 class="f4 b lh-title mb1 primary">{{ .Title }}</h2>
      <p class="f6 highlight lh-title mb2">
        <span class="b">by {{ .Params.author }}</span>
        <span> on {{ .Date.Format "Mon, Jan 2, 2006" }}</span>
      </p>
      <p class="f6 highlight lh-copy mb0">{{ .Description }}</p>
      <p class="f6 lh-copy measure-wide">{{ .Summary }}</p>
    </a>

    {{ partial "tags" . }}

    {{ if .Truncated }}
    <!-- This <div> includes a read more link, but only if the summary is truncated... -->
    <p class="link b dib grey-1 mb0">Read more →</p>
    {{ end }}
  </div>

</div>