{{ define "main" }}

<div class="ph3 bg-grey-3">
  <div class="center mw6 pv3">

    <div class="db w4 center pv4">
      <img src="/img/icons/logolight.svg" alt="Vortex logo" class="w4 light--hidden" />
      <img src="/img/icons/logodark.svg" alt="Vortex logo" class="w4 dark--hidden" />
      <div class="primary">{{ .Params.tagline }}</div>
    </div>

    {{ .Content }}

    <div class="flex-ns mb3">
      {{ range .Params.contact_entries }}
      <div>
        <h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
        <p>{{ .text }}</p>
      </div>
      {{ end }}
    </div>

    {{ partial "contact-form" . }}

  </div>
</div>

{{ end }}