{{ define "main" }}

  <div class="mw7 center ph3 pv4 off-white">
    <h1 class="f2 lh-title b mb3 primary">{{.Title}}</h1>
    <div class="flex flex-wrap justify-between highlight">
      {{ if .Params.author }}
      <p class="f4 f5-ns primary b">by {{ .Params.author }}</p>
      {{ end }}
      <p>{{ .Date.Format "Mon, 2 Jan 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="cms">
      <p>{{ .Description }}</p>

      {{ partial "tags" . }}

      {{ .Content }}
    </div>

    {{ partial "rating" . }}

  </div>

{{ end }}
